<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Student List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <h1>Student List for {{ course.name }}</h1>
    {% if students %}
    <div class="col-4" >
        <ul class="list-group" id="student_list">
            {% for student in students %}
                <li class="list-group-item">
                    {{ student.last_name }}, {{ student.first_name }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        No students for this course yet.
    {% endif %}
    <br />
    <h1>Add student</h1>
    <div class="col-4" >
    <form method="POST" id="create_student_form">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" class="form-control" >
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" class="form-control" >
        <br />
        <input type="submit" value="Submit" class="btn btn-success" id="form_submit">
    </form>
    </div>
    <script type="text/javascript">
        var url = window.location.href
        var token = '{{csrf_token}}'
        var list = $('#student_list')

        $('#form_submit').on('click', function(e) {
            e.preventDefault();
            var first_name = $('#first_name').val()
            var last_name = $('#last_name').val()

            $.ajax({
                headers: {"X-CSRFToken": token},
                url: url,
                method: 'POST',
                data: {
                    'first_name': first_name,
                    'last_name': last_name
                }
            }).done(function(data) {
                list.append('<li>' + data.last_name + ', ' + data.first_name + '</li>')
                $('#first_name').val('')
                $('#last_name').val('')
            })
        })
    </script>
</body>
</html>